.notes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn,
.input {
  margin: 0.4vw;
}

.btnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 15vw;
}

.header {
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
