.notes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
}

.btn,
.noteInput,
.tagInput {
  margin: 0.4vw;
}

.btnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noteInput,
.tagInput {
  width: 15vw;
}

.header {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  margin: 0.5asvw;
  width: 40vw;
}

.noteHeader {
  font-size: 2rem;
  width: 30vw;
}

.noteContent {
  font-size: 1.5rem;
  width: 30vw;
}

.noteDate {
  font-size: 0.8rem;
  margin-top: 1vw;
}

.date {
  display: flex;
  justify-content: space-between;
}
